{% load static %}
{% block content %}
    <div class="overlayCategoryDeleteModal" >
        <div class="modalCategoryDelete">
            <div class="CategoryAdd">
                <div class="title">Вы точно хотите удалить заявку?</div>
                <div>
                    <form method="POST" id="CategoryDelete" >
                        {% csrf_token %}
                        <div class="input-box">
                            {{ categoryDelete.categoryDelete }}
                            
                        </div>    
                            <p class="msg none">NoName</p>
                            <input type="submit" value="Удалить категорию" />
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
