{% extends 'base.html' %}
{% load static %}




{% block header %}
<header>
    <nav class="container">
        <a href="#"><img  class="logo" src="{% static "icons/logo.png" %}"></a>
        <div class="panel-auth">
            {% if user.is_authenticated %}
                {% if user.first_name %}
                <a href="{% url 'profil' %}" >{{ user.first_name }}</a>
                {% else %}
                    <a href="{% url 'profil' %}">{{ user.username }}</a>
                {% endif %}
            {% else %} 
                <a id="BtnSingUP" >Регистрация</a><hr><a id="BtnSingIn" >Вход</a>
            {% endif %} 
        </div>
    </nav>
</header>


{% endblock header %}

{% block content %}
{% include 'ModalSingIn.html' %}
{% include 'ModalSingUp.html' %} 



<main class="wrapper container">
    <section class="numberZayvki">
        <div >
            <h1 class="">Ижевск</h1><br>
            <p class="zayvnum">Количество заявок:</p><br>

            <span id="number"> </span><span id="stick" >_</span>
{% comment %} <span id="stick" >_</span> {% endcomment %}
            
        </div>

    </section>
    <section class="recentZayvki">
        <h2>Недавние заявки</h2>
        <hr>
        <div class="gridBlock">

            {% include "applicationAgreed.html" %}
        </div>
    </section>
</main>


{% endblock content %}