{% extends 'base.html' %}
{% load static %}

{% block header %}

<header class="headerProfil">
    <nav class="container">
        <div>
            <a class="BTN-zayvka">
                Подать заявку
            </a>
        </div>
        {% if user.is_superuser %}
            <div class="categoryBlock">
                <input type="button" value="Добавить категорию" class="categoryAdd"/>
                <input type="button" value="Удалить категорию" class="categoryDelete" id="delButton"/>
            </div> 
        {% endif %}

        <div>
            <img src="{% static 'icons/user.svg' %}" alt="">
        </div>

        <div class="FIO">
            {% if user.first_name %}
                <a>{{ user.first_name }}</a>
            {% else %}
                <a>{{ user.username }}</a>
            {% endif %}
        </div>
        <div>
            <a class="logout" href="{% url 'logout'%}" >Выход</a>
        </div>

    </nav>
</header>


{% endblock header %}





{% block content %}
{% include 'ModalZayvkaUp.html' %}
{% include 'ApplicationDeleteModal.html' %}
{% include 'ApplicationUpdate_form.html' %}
{% include 'ApplicationRejected_form.html' %}
{% include 'CategoryAddModal.html' %}
{% include 'deleteCategory.html' %}
<main class="zayvkiProfil container">
    <div class="MyZayvki">
        <p>Мои заявки</p>
        <hr>
    </div>

    <div class="applicationBlock" id='applicationBlock'>

        <div class="blockContent">
        {% include "application.html" %}
        </div>


    <div>





</main>

{% endblock content%}